@model  List<Back.Models.vBack_GruposMenuList>


@{
    ViewBag.Title = "Grupos de menú";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Grupos Menu</h2>
<hr />

<div class="row align-right">
    <div class="col text-right">
        <button type="button" class="btn btn-primary" id="btnNuevo" ><i class="fa fa-plus"></i> Nuevo</button></div>    
</div>

<div class="sepatator_10"></div>

<div class="row">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Módulo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Orden</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var _grupo in Model)
            {
                <tr>
                    <th scope="row">@_grupo.Id</th>
                    <td>@_grupo.Modulo</td>
                    <td>@_grupo.Nombre</td>
                    <td>@_grupo.Orden</td>
                    <td>
                        <button type="button" id="btnEditar_+ @_grupo.Id" class="btn btn-primary" onclick="p_AEPSAD_editar(@_grupo.Id)"><i class="fa fa-pen"></i> Editar</button>
                        <button type="button" id="btnEliminar_+ @_grupo.Id" class="btn btn-danger"  onclick="p_AEPSAD_eliminar(@_grupo.Id)"><i class="fa fa-trash"></i> Eliminar</button>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>


<script>

    $(document).ready(function () {

        $("#btnNuevo").click(function () {
            p_AEPSAD_redirect("@Url.Action("CrearGruposMenu", "Menu")");
        });

    });

    function p_AEPSAD_editar(value) {

        var myUrl = '@Url.Action("EditarGruposMenu", "Menu", new { id = "-1" })';
        myUrl = myUrl.replace("-1", value);         
     
        p_AEPSAD_redirect(myUrl);
    }


    function p_AEPSAD_eliminar(value) {

        var myUrl = '@Url.Action("EliminarGruposMenu", "Menu", new { id = "-1" })';
        myUrl = myUrl.replace("-1", value);         
     
        p_AEPSAD_redirect(myUrl);

    }

    function p_AEPSAD_redirect(url) {
        waitingDialog.show('Cargando contenido');
        window.location.href = url;
    }  

    </script>