@model  List<Back.Models.vBack_GruposMenuList>


@{
    ViewBag.Title = "Grupos de menú";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Grupos Menu</h2>
<hr />

<div class="row align-right">
    <fieldset>
        <legend>Filtro</legend>
        <form class="form-inline">
            @Html.Label("Módulo", new { @class = "text-info" })&nbsp;
            @Html.DropDownList("Modulo", (IEnumerable<SelectListItem>)ViewBag.Opciones, "Selecciona un mòdulo", htmlAttributes: new { @class = "form-control" })&nbsp;
            <input type="button" class="btn btn-primary" value="Filtrar" id="btnFiltro">
        </form>
    </fieldset>
</div>


<div class="row align-right">
    <div class="col text-right">
        <button type="button" class="btn btn-primary" id="btnNuevo" ><i class="fa fa-plus"></i> Nuevo</button></div>    
</div>

<div class="sepatator_10"></div>

<div class="row">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Módulo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Orden</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var _grupo in Model)
            {
                <tr>
                    <th scope="row">@_grupo.Id</th>
                    <td>@_grupo.Modulo</td>
                    <td>@_grupo.Nombre</td>
                    <td>@_grupo.Orden</td>
                    <td>
                        <button type="button" id="btnEditar_+ @_grupo.Id" class="btn btn-primary" onclick="p_AEPSAD_editar(@_grupo.Id)" title="Editar"><i class="fa fa-pen"></i></button>
                        <button type="button" id="btnEliminar_+ @_grupo.Id" class="btn btn-danger"  onclick="p_AEPSAD_eliminar(@_grupo.Id)" title="Eliminar"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>


<script>

    $(document).ready(function () {

        $("#btnNuevo").click(function () {
            p_AEPSAD_redirect("@Url.Action("CrearGruposMenu", "Menu")");
        });


        $("#btnFiltro").click(function () {
            p_AEPSAD_filtrar();
        });

    });

    function p_AEPSAD_filtrar() {

        var myUrl = '@Url.Action("GruposMenu", "Menu",new { filterByModulo = "filterByModuloValue"})';
        myUrl = myUrl.replace("filterByModuloValue", $("#Modulo").val());   

        p_AEPSAD_redirect(myUrl);
    }

    function p_AEPSAD_editar(value) {

        var myUrl = '@Url.Action("EditarGruposMenu", "Menu", new { id = "-1" })';
        myUrl = myUrl.replace("-1", value);         
     
        p_AEPSAD_redirect(myUrl);
    }


    function p_AEPSAD_eliminar(value) {

        var myUrl = "/Menu/EliminarGruposMenu?id=" + value;

        p_AEPSAD_delete_confirm(myUrl, "¿Estás seguro que quieres borrar este elemento?");
    }

    function p_AEPSAD_redirect(url) {
        waitingDialog.show();
        window.location.href = url;
    }  

    </script>